/* Based off the excellent sidetracked theme (https://github.com/drudge/Sidetracked) */
@background: #191919;
@lineNums: #AAA;
@paren: #FFFFFF;
@text: #F8F8F8;
@comment: #554930;
@keywordDef: #C87936;
@punctuation: #F8F8F8;
@operator: #F8F8F8;
@nt: #d8b778;
@string: #7A9B24;
@other: #F8F8F8;
@keyword: #AF662F;
@keyword2: #F8F8F8;
@type: #AF662F;
@class: #6489AF;
@namespace: #6489AF;
@name: #6489AF;
@method: #F8F8F8;
@inherited: #F8F8F8;
@ss: #F8F8F8;
@local: #F8F8F8;
@bp: #F8F8F8;

@highlight-text-color: #333;
@divider-color: #292929;

// Diff vars
@diff-added-bg: #416953;
@diff-added-text: @text;
@diff-added-highlight-bg: #bfe6d0;
@diff-added-highlight-text: #000;
@diff-deleted-bg: #fd818f;
@diff-deleted-text: #000;
@diff-deleted-highlight-bg: #f1c0c5;
@diff-deleted-highlight-text: #000;

@import 'main';
