@background: #191919;
@lineNums: #AAA;
@paren: #FFFFFF;
@text: #FFFFFF;
@comment: #8146A2;
@keywordDef: #F1C438;
@punctuation: #FFFFFF;
@operator: #FFFFFF;
@nt: #477488;
@string: #80FF00;
@string: #80FF00;
@other: #FFFFFF;
@keyword: #EC691E;
@keyword2: #FFFFFF;
@type: #AF662F;
@class: #9CF828;
@namespace: #FFFFFF;
@name: #FFFFFF;
@method: #FFFFFF;
@inherited: #3C758D;
@ss: #477488;
//@local: #F1C438;
@local: #3C758D;
@bp: #F1C438;

@highlight-text-color: #333;
@divider-color: #292929;

// Diff vars
@diff-added-bg: #416953;
@diff-added-text: @text;
@diff-added-highlight-bg: #bfe6d0;
@diff-added-highlight-text: #000;
@diff-deleted-bg: #fd818f;
@diff-deleted-text: #000;
@diff-deleted-highlight-bg: #f1c0c5;
@diff-deleted-highlight-text: #000;

@import 'main';
