@background: #191919;
@lineNums: #AAA;
@paren: #FFFFFF;
@text: #FFFFFF;
@comment: #8146A2;
@keywordDef: #F1C438;
@punctuation: #FFFFFF;
@operator: #FFFFFF;
@nt: #477488;
@string: #80FF00;
@string: #80FF00;
@other: #FFFFFF;
@keyword: #EC691E;
@keyword2: #FFFFFF;
@type: #AF662F;
@class: #9CF828;
@namespace: #FFFFFF;
@name: #FFFFFF;
@method: #FFFFFF;
@inherited: #3C758D;
@ss: #477488;
@local: #F1C438;
@bp: #F1C438;

@import 'main';
