body {
  color: #303942;
  margin: 0 auto;
  width: 900px;
  font: 14px arial, sans-serif;
}

h1 {
  padding-top: 20px;
}

.theme-preview {
  float: left;
  position: relative;
}

img {
  border-radius: 15px;
  border: solid 3px #ffffff;
}

.theme-preview span {
  position: absolute;
  top: 20px;
  right: 6px;
  background-color: rgba(0,0,0,0.75);
  color: #ffffff;
  font-weight: bold;
  padding: 4px 8px 4px 10px;
}

.theme-preview:not(:first-child) {
  margin-left: 30px;
}

.theme-preview .selected {
  display: none;
  position: absolute;
  top: 140px;
  left: 159px;
  color: #46B525;
  font-size: 81px;
  text-decoration: none;
}

