/* Based off the excellent sidetracked theme (https://github.com/drudge/Sidetracked) */
.file div.blob-wrapper .highlight,
.file div.diff-line-code,
#files .blame .file-code,
div.gistktable.highlight,
.readme .markdown-body .highlight pre {
  color: #f8f8f8;
  background-color: #191919;
  /* Background color */

}
.file table.highlight td.blob-code {
  color: #f8f8f8;
}
/* Plain text */
.file table.highlight .blob-num {
  color: #aaaaaa;
}
/* Line numbers */
.file table.highlight span.c,
div.gist span.c,
.readme span.c {
  color: #554930;
}
/* Comment */
.file table.highlight span.c1,
div.gist span.c1,
.readme span.c1 {
  color: #554930;
}
/* Single line comment */
.file table.highlight span.cm,
div.gist span.cm,
.readme span.cm {
  color: #554930;
}
/* Multi line comment */
.file table.highlight span.kd,
div.gist span.kd,
.readme span.kd {
  color: #c87936;
}
/* Keyword definition? */
.file table.highlight span.pi,
div.gist span.pi,
.readme span.pi {
  color: #f8f8f8;
}
/* Punctuation */
.file table.highlight span.o,
div.gist span.o,
.readme span.o {
  color: #f8f8f8;
}
/*Operators */
.file table.highlight span.oi,
div.gist span.oi,
.readme span.oi {
  color: #f8f8f8;
}
/* Operators */
.file table.highlight span.nt,
div.gist span.nt,
.readme span.nt {
  color: #d8b778;
}
/* Not sure - used for html tag? */
.file table.highlight span.s1,
div.gist span.s1,
.readme span.s1 {
  color: #7a9b24;
}
/* Single string */
.file table.highlight span.s2,
div.gist span.s2,
.readme span.s2 {
  color: #7a9b24;
}
/* Double string */
.file table.highlight span.nx,
div.gist span.nx,
.readme span.nx {
  color: #f8f8f8;
}
/* Other */
.file table.highlight span.k,
div.gist span.k,
.readme span.k {
  color: #af662f;
}
/* Keyword */
.file table.highlight span.kc,
div.gist span.kc,
.readme span.kc {
  color: #af662f;
}
/* Keyword constant */
.file table.highlight span.kp,
div.gist span.kp,
.readme span.kp {
  color: #f8f8f8;
}
/* Keyword something, like true/false */
.file table.highlight span.kt,
div.gist span.kt,
.readme span.kt {
  color: #af662f;
}
/* Return type */
.file table.highlight span.nc,
div.gist span.nc,
.readme span.nc {
  color: #6489af;
}
/* Class name */
.file table.highlight span.nn,
div.gist span.nn,
.readme span.nn {
  color: #6489af;
}
/* Namespace name */
.file table.highlight span.n,
div.gist span.n,
.readme span.n {
  color: #6489af;
}
/* Name */
.file table.highlight span.nb,
div.gist span.nb,
.readme span.nb {
  color: #f8f8f8;
}
/* Method names? */
.file table.highlight span.nf,
div.gist span.nf,
.readme span.nf {
  color: #f8f8f8;
}
/* Inherited class */
.file table.highlight span.ss,
div.gist span.ss,
.readme span.ss {
  color: #f8f8f8;
}
/* Ruby hash */
.file table.highlight span.no,
div.gist span.no,
.readme span.no {
  color: #f8f8f8;
}
/* Object local */
.file table.highlight span.bp,
div.gist span.bp,
.readme span.bp {
  color: #f8f8f8;
}
/* Not sure  */
.file table.highlight span.p,
div.gist span.p,
.readme span.p {
  color: #ffffff;
}
/* Parenthesis */
