/* Based off the excellent sidetracked theme (https://github.com/drudge/Sidetracked) */
#files div.highlight,
div.gist table.highlight,
#files .file-code,
#readme div.highlight pre {
  color: #f8f8f8;
  background-color: #191919;
  /* Background color */

}
#files div.line {
  color: #f8f8f8;
}
/* Raw text */
#files span.c,
div.gist span.c,
#readme span.c {
  color: #554930;
}
/* Comment */
#files span.c1,
div.gist span.c1,
#readme span.c1 {
  color: #554930;
}
/* Single line comment */
#files span.cm,
div.gist span.cm,
#readme span.cm {
  color: #554930;
}
/* Multi line comment */
#files span.kd,
div.gist span.kd,
#readme span.kd {
  color: #c87936;
}
/* Keyword definition? */
#files span.pi,
div.gist span.pi,
#readme span.pi {
  color: #f8f8f8;
}
/* Punctuation */
#files span.o,
div.gist span.o,
#readme span.o {
  color: #f8f8f8;
}
/*Operators */
#files span.oi,
div.gist span.oi,
#readme span.oi {
  color: #f8f8f8;
}
/* Operators */
#files span.nt,
div.gist span.nt,
#readme span.nt {
  color: #d8b778;
}
/* Not sure - used for html tag? */
#files span.s1,
div.gist span.s1,
#readme span.s1 {
  color: #7a9b24;
}
/* Single string */
#files span.s2,
div.gist span.s2,
#readme span.s2 {
  color: #7a9b24;
}
/* Double string */
#files span.nx,
div.gist span.nx,
#readme span.nx {
  color: #f8f8f8;
}
/* Other */
#files span.k,
div.gist span.k,
#readme span.k {
  color: #af662f;
}
/* Keyword */
#files span.kc,
div.gist span.kc,
#readme span.kc {
  color: #af662f;
}
/* Keyword constant */
#files span.kp,
div.gist span.kp,
#readme span.kp {
  color: #f8f8f8;
}
/* Keyword something, like true/false */
#files span.kt,
div.gist span.kt,
#readme span.kt {
  color: #af662f;
}
/* Return type */
#files span.nc,
div.gist span.nc,
#readme span.nc {
  color: #6489af;
}
/* Class name */
#files span.nn,
div.gist span.nn,
#readme span.nn {
  color: #6489af;
}
/* Namespace name */
#files span.n,
div.gist span.n,
#readme span.n {
  color: #6489af;
}
/* Name */
#files span.nb,
div.gist span.nb,
#readme span.nb {
  color: #f8f8f8;
}
/* Method names? */
#files span.nf,
div.gist span.nf,
#readme span.nf {
  color: #f8f8f8;
}
/* Inherited class */
#files span.ss,
div.gist span.ss,
#readme span.ss {
  color: #f8f8f8;
}
/* Ruby hash */
#files span.no,
div.gist span.no,
#readme span.no {
  color: #f8f8f8;
}
/* Object local */
#files span.bp,
div.gist span.bp,
#readme span.bp {
  color: #f8f8f8;
}
/* Not sure  */
#files span.p,
div.gist span.p,
#readme span.p {
  color: #ffffff;
}
/* Parenthesis */
