.file div.blob-wrapper .highlight,
.file .diff-line-code,
#files .blame .file-code,
div.gist table.highlight,
#readme .highlight pre {
  color: #ffffff;
  background-color: #191919;
  /* Background color */

}
.file td.blob-code {
  color: #ffffff;
}
/* Plain text */
.file .blob-num {
  color: #aaaaaa;
}
/* Line numbers */
.file span.c,
div.gist span.c,
#readme span.c {
  color: #8146a2;
}
/* Comment */
.file span.c1,
div.gist span.c1,
#readme span.c1 {
  color: #8146a2;
}
/* Single line comment */
.file span.cm,
div.gist span.cm,
#readme span.cm {
  color: #8146a2;
}
/* Multi line comment */
.file span.kd,
div.gist span.kd,
#readme span.kd {
  color: #f1c438;
}
/* Keyword definition? */
.file span.pi,
div.gist span.pi,
#readme span.pi {
  color: #ffffff;
}
/* Punctuation */
.file span.o,
div.gist span.o,
#readme span.o {
  color: #ffffff;
}
/*Operators */
.file span.oi,
div.gist span.oi,
#readme span.oi {
  color: #ffffff;
}
/* Operators */
.file span.nt,
div.gist span.nt,
#readme span.nt {
  color: #477488;
}
/* Not sure - used for html tag? */
.file span.s1,
div.gist span.s1,
#readme span.s1 {
  color: #80ff00;
}
/* Single string */
.file span.s2,
div.gist span.s2,
#readme span.s2 {
  color: #80ff00;
}
/* Double string */
.file span.nx,
div.gist span.nx,
#readme span.nx {
  color: #ffffff;
}
/* Other */
.file span.k,
div.gist span.k,
#readme span.k {
  color: #ec691e;
}
/* Keyword */
.file span.kc,
div.gist span.kc,
#readme span.kc {
  color: #ec691e;
}
/* Keyword constant */
.file span.kp,
div.gist span.kp,
#readme span.kp {
  color: #ffffff;
}
/* Keyword something, like true/false */
.file span.kt,
div.gist span.kt,
#readme span.kt {
  color: #af662f;
}
/* Return type */
.file span.nc,
div.gist span.nc,
#readme span.nc {
  color: #9cf828;
}
/* Class name */
.file span.nn,
div.gist span.nn,
#readme span.nn {
  color: #ffffff;
}
/* Namespace name */
.file span.n,
div.gist span.n,
#readme span.n {
  color: #ffffff;
}
/* Name */
.file span.nb,
div.gist span.nb,
#readme span.nb {
  color: #ffffff;
}
/* Method names? */
.file span.nf,
div.gist span.nf,
#readme span.nf {
  color: #3c758d;
}
/* Inherited class */
.file span.ss,
div.gist span.ss,
#readme span.ss {
  color: #477488;
}
/* Ruby hash */
.file span.no,
div.gist span.no,
#readme span.no {
  color: #f1c438;
}
/* Object local */
.file span.bp,
div.gist span.bp,
#readme span.bp {
  color: #f1c438;
}
/* Not sure  */
.file span.p,
div.gist span.p,
#readme span.p {
  color: #ffffff;
}
/* Parenthesis */
