body {
  color: #333;
  margin: 0 auto;
  width: 900px;
  font: 14px Helvetica, arial, sans-serif;
  background-color: #e7ecee;
}

h1 {
  padding-top: 20px;
}

header {
  margin-top: 50px;
  text-align: center;
}

.theme-preview {
  float: left;
  position: relative;
}

img {
  border-radius: 15px;
  border: solid 3px #ffffff;
}

.theme-preview span {
  position: absolute;
  top: 20px;
  right: 6px;
  background-color: rgba(0,0,0,0.75);
  color: #ffffff;
  font-weight: bold;
  padding: 4px 8px 4px 10px;
  display: none;
}


.theme-preview:not(:first-child) {
  margin-left: 50px;
}

.theme-preview .selected {
  display: none;
  position: absolute;
  top: 140px;
  left: 159px;
  color: #46B525;
  font-size: 81px;
  text-decoration: none;
}

footer {
  padding-top: 40px;
  text-align: center;
  clear: both;
  margin-top: 20px;
}

footer a  {
  color: #0066cc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

